# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
ENV/

# Django
db.sqlite3
*.log

# VSCode
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db

# Ignore uploaded media files
media/delivery_images/*
media/profile_images/*

# Keep the folders themselves
!media/delivery_images/.gitkeep
!media/profile_images/.gitkeep